{% extends 'userHeader.html' %}

{% load static %} 

{% block content %}

 {% if msg  %}
<script>alert('{{msg}}')</script>
{% endif  %}

<style>
	h3{
		font-family: 'Times New Roman', Times, serif;
		margin-top:20px;
	}
	p{
		font-family: 'Times New Roman', Times, serif;
		margin-top:20px;
		font-weight: bold;
		font-size: large;
	}
</style>
<div class="grids-agile" style="margin-top:150px;">
	<div class="col-md-1">                     
		
	</div>
    <div class="col-md-4">                     
		<img src="{% static 'images/grid5.jpg' %}" alt=" " class="img-responsive" style="width:400px;height:400px;">
	</div>
	<div class="col-md-6" style="padding:30px;">

        <form action="#" method="post" class="p-3 shadow" style="margin-top:20px;">
            {% csrf_token %}

            <div class="form-group" style="margin-top:20px">
                 <input type="text" name="name" class="form-control" value={{graphers.name}} readonly>
            </div>
            <div class="form-group" style="margin-top:20px;display:none;">
                <input type="date" name="bookdate"  class="form-control" placeholder="BookingDate">
            </div>
            <div class="form-group" style="margin-top:20px">
                <input type="date" name="fromdate"  class="form-control" required>
            </div>
            <div class="form-group" style="margin-top:20px">
                <input type="date" name="todate"  class="form-control" required>
            </div>
            <div class="form-group" style="margin-top:20px">
                <input type="text" name="days" class="form-control" placeholder="No of Days">
           </div>
           <div class="form-group" style="margin-top:20px">
            <input type="text" name="loc" class="form-control" placeholder="Location">
            </div>
            <div class="form-group" style="margin-top:20px">
                <input type="text" name="desc" class="form-control" placeholder="Description">
           </div>
         
                <input type="submit" class="btn btn-success" style="margin-top:20px;margin-left:45%; width:10%;">
        
        </form>

		
	</div>
	
	<div class="col-md-1">                     	
	</div>
	<div class="clearfix"></div>
</div>

{% endblock %}



