{% extends 'photographerHeader.html' %}
{% load static %} 

{% block content %}
{% load static %}

<style>
input[type="text"],input[type="email"],input[type="password"],input[type="submit"],input[type="file"],input[type="date"]{

    width:40%;
    margin-left:30%;

}
/* body{

    background-image:url("{% static 'images/bg.jpg' %}");
    background-repeat:no-repeat;
    background-size: cover;
} */
</style>
</head>
{% if msg %}
<script>alert('{{msg}}')</script>
{% endif %}
            <h1 style="color:red;margin-top:150px;text-align:center;">Lets Create Arts</h1>

            <div class="card">
                <form action="#" method="post" class="p-3 shadow" style="margin-top:150px;" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style="margin-top:20px">
                    <input type="text" name="caption" class="form-control" placeholder="caption" required>
                    </div>
                        
                    <div class="form-group" style="margin-top:20px">
                    <input type="file" name="myfile" class="form-control" placeholder="image" required>
                    </div>  
                    
                    <div class="form-group" style="margin-top:20px">
                        <input type="text" name="amount" class="form-control" placeholder="amount" required>
                    </div>
                    
                 
                        <input type="submit" class="btn btn-success" style="margin-top:20px;margin-left:45%; width:10%;">
                
                </form>
                </div>
                
              
{% for img in images %}
                
<div class="grids-agile" style="margin-top:150px;display:inline-flex"> 
                    
    <div class="col-md-4">                     
        <img src="{{ img.image }}" alt=" " style="width:400px;height:400px;">
        <h2 style="color:blue">{{img.caption}}</h2>
        <h2 style="color:blue">{{img.amount}}</h2>
    </div>
    <div class="clearfix"></div>
</div>
                
 {% endfor %}  
 

{% endblock %}


