{% load static %}
<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Snap a PhotoGallery Category Bootstrap Responsive website Template | Home :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Snap web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" /> <!-- Flexslider-CSS -->
<link href="{% static 'css/simpleLightbox.css' %}" rel="stylesheet" type="text/css" />
<!-- //css files -->
<!-- online-fonts -->
<link href="{% static '//fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i' %}" rel="stylesheet">
<link href="{% static '//fonts.googleapis.com/css?family=Quicksand:300,400,500,700' %}" rel="stylesheet">
<!-- //online-fonts -->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"> 
<div class="main-agile">
<div class="w3l-overlay">
	<!-- banner -->
	<div id="home" class="w3ls-banner"> 
		<!-- banner-text -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="w3layouts-banner-top">
							<div class="container">
								<div class="agileits-banner-info">
									<p>Lorem Ipsum Dolor</p>
									<h3>GREAT WORKS</h3>
									<div class="agileits_w3layouts_more menu__item">
										<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Find More</a>
									</div>
								</div>	
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top">
							<div class="container">
								<div class="agileits-banner-info">
									<p>Sit Amet Consectetur</p>
									<h3>IMPRESSIVE WORKS</h3>
									<div class="agileits_w3layouts_more menu__item">
										<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Find More</a>
									</div>
								</div>	
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top">
							<div class="container">
								<div class="agileits-banner-info">
									<p>Adipiscing Elit Amet</p>
									<h3>THE MOST CREATIVE</h3>
									<div class="agileits_w3layouts_more menu__item">
										<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Find More</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<!-- //banner-text -->
		</div>
	</div>	
	<!-- //banner --> 
	<!-- header -->
	<div class="header-w3layouts"> 
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Snap</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1><a class="navbar-brand" href="index.html"><span>S</span>nap</a></h1>
			</div> 
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
					<li class="active"><a class="page-scroll" href="{% url 'associateHome' %}">Home</a></li>
					<li><a class="page-scroll scroll" href="{% url 'viewphotographers' %}">photographers</a></li>
					<li><a class="page-scroll scroll" href="{% url 'context' %}">contexts</a></li>
					<li><a class="page-scroll scroll" href="{% url 'login' %}">Logout</a></li>
				
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>  
	</div>	
	<!-- //header -->
	<!-- Modal1 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
						<img src="{% static 'images/3.jpg' %}" alt=" " class="img-responsive">
						<h5>Donec lobortis pharetra dolor</h5>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
				</div>
			</div>
			<!-- //Modal content-->
		</div>
	</div>
	<!-- //Modal1 -->
</div>	
</div>	
<!-- about -->
<div class="about" id="about">
	<div class="container">
		<div class="about-w3l-agileifo-grid">
			<div class="agile-w3l-ab">
				<ul class="rslides" id="slider">
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{% static 'images/3.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{% static 'images/4.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
					<li>
						<div class="agile-w3l-ab-img">
							<img src="{% static 'images/1.jpg' %}" class="img-responsive" alt="Homey Designs">
						</div>
					</li>
				</ul>
			</div>
			<div class="ab-w3l-text w3l-pop">
				<div class="ab-agile-top">
				<h3>About Us</h3>
					<div class="ab-agile-bottom">
					   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- grids
<div class="grids-w3l">
	<div class="grids-agile">
		<div class="col-md-6 agile-w3l-grids">                     
			<h4>MAKING SOMETHING SPECIAL TO  SAVE YOUR MEMORIES</h4>	
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<div class="w3lsstatsaits-info">
				<div class="col-md-4 col-sm-4 col-xs-4 w3lsstatsaits-grid w3lsstatsaits-grid-1">
					<div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='9000' data-delay='.5' data-increment=4>7000</div>
					<p>Happy Clients</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 w3lsstatsaits-grid w3lsstatsaits-grid-2">
					<div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='17000' data-delay='8' data-increment="1">16000</div>
					<p>Followers</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 w3lsstatsaits-grid w3lsstatsaits-grid-3">
					<div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='12000' data-delay='.5' data-increment="11">12000</div>
					<p>Awards</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 agile-w3l2-grids">                     
			<h4>MAKING SOMETHING SPECIAL TO  SAVE YOUR MEMORIES</h4>
			<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		</div>
		<div class="col-md-3 col-sm-6 agile-w3l3-grids">                     
			<h4>THE MOST CREATIVE</h4>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="grids-agile">
		<div class="col-md-3 col-sm-6 agile-left-w3l">                     
			<img src="{% static 'images/grid2.jpg' %}" alt=" " class="img-responsive">
		</div>
		<div class="col-md-3 col-sm-6 agile-middle">
			<h4>TECHNICAL SKILLS</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			<div class="bar_group">
				<div class='bar_group__bar thin' label='Photography' show_values='true' tooltip='true' value='95'></div>
				<div class='bar_group__bar thin' label='Quality' show_values='true' tooltip='true' value='82'></div>
				<div class='bar_group__bar thin' label='Editing' show_values='true' tooltip='true' value='70'></div>
				<div class='bar_group__bar thin' label='Direction' show_values='true' tooltip='true' value='76'></div>
			</div>
		</div>
		<div class="col-md-6 agile-right-w3l">                     
			<img src="{% static 'images/grid3.jpg' %}" alt=" " class="img-responsive">
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="grids-agile">
		<div class="col-md-3 col-sm-6 about-middle">
			<section class="slider">
			<div class="flexslider">
				<ul class="slides">
				  <li>
					<div class="banner-bottom-2">			  		
						<div class="about-midd-main">
							<img class="agile-img" src="{% static 'images/te1.jpg' %}" alt=" " class="img-responsive">
							<h4> Butler Dan</h4>
							<p> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
					</div>
				  </li>
				 <li>
					<div class="banner-bottom-2">			  		
						<div class="about-midd-main">
							<img class="agile-img" src="{% static 'images/te2.jpg' %}" alt=" " class="img-responsive">
							<h4> Amelia Eric</h4>
							<p> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
					</div>
				  </li>
				  <li>
					<div class="banner-bottom-2">			  		
						<div class="about-midd-main">
							<img class="agile-img" src="{% static 'images/te3.jpg' %}" alt=" " class="img-responsive">
							<h4>Kylie Gill</h4>
							<p> consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>
						</div>
					</div>
				  </li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		  </section>
		</div>
		<div class="col-md-3 col-sm-6 last-agile-1">
			<img src="{% static 'images/grid4.jpg' %}" alt=" " class="img-responsive">	
		</div>
		<div class="col-md-3 col-sm-6 last-agile-2">
			<h3>consectetur adipiscing elit, sed do eiusmod dolor sit amet</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod idunt ut labore. sed do eiusmod tempor incididunt ut labore et dolore.</p>	
			<div class="agileits_w3layouts_more menu__item w3l-agile">
				<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Find More</a>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 last-agile-1 w3l">
			<img src="{% static 'images/grid5.jpg' %}" alt=" " class="img-responsive">	
		</div>
	</div>
	<div class="clearfix"></div>
</div> -->
<!-- //grids -->
<!-- services -->
<div class="wthree_banner_info" id="services">
	<div class="container">
		<h3 class="title-w3l">Our services</h3>
		<div class="col-md-4 wthree_banner_info_left">
			<div class="col-xs-4 wthree_banner_info_left_grid">
				<div class="wthree_banner_info_left_grid1">
					<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-xs-8 wthree_banner_info_left_grid_left">
				<h3>Advanced Technology</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing iscing elit</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-4 wthree_banner_info_left mid-w3l">
			<div class="col-xs-4 w3l_banner_info_left_grid">
				<div class="wthree_banner_info_left_grid1">
					<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-xs-8 wthree_banner_info_left_grid_left">
				<h3>positive feedbacks</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing iscing elit</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col-md-4 wthree_banner_info_left">
			<div class="col-xs-4 wthree_banner_info_left_grid">
				<div class="wthree_banner_info_left_grid1">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
				</div>
			</div>
			<div class="col-xs-8 wthree_banner_info_left_grid_left">
				<h3>Perfect Design</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing iscing elit</p>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
		<!-- middle-section -->
		<div class="wthree_about_grids">
			<div class="col-md-6 wthree_about_grid_right">
				<img src="{% static 'images/screen3.png' %}" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-6 wthree_about_grid_left">
				<h3>Our Design Purpose</h3>
				<p>Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi, 
					vel tincidunt augue ipsum nec erat. Vestibulum congue leo elementum 
					ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent 
					per conubia nostra, per inceptos himenaeos.</p>
				<div class="agileits_w3layouts_more menu__iteme">
					<a href="#" class="menu__link" data-toggle="modal" data-target="#myModal">Find More</a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //middle-section -->
	</div>
</div>
<!-- //services -->
<!-- team
<div id="team" class="team">  
	<div class="container">
		<h3 class="title-w3l">Team</h3>
		<div class="team-row w3ls-team-row">  
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="{% static 'images/t1.jpg' %}" alt="img">
					<div class="view-caption">
						<h4>John Smith</h4> 
						<p>Fusce sem</p>
					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="{% static 'images/t3.jpg' %}" alt="img">
					<div class="view-caption">
						<h4>Thomson Doe</h4> 
						<p>Fusce sem</p>
					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="{% static 'images/t2.jpg' %}" alt="img">
					<div class="view-caption">
						<h4>Smith Kevin</h4> 
						<p>Fusce sem</p>
					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 team-grids">   
				<div class="w3ls-effect">
					<img src="{% static 'images/t4.jpg' %}" alt="img">
					<div class="view-caption">
						<h4>Laura Hill</h4> 
						<p>Fusce sem</p>
					</div>
					<div class="wthree-icon">
						<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
						<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
					</div>
				</div>    
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
</div> -->
<!-- //team -->
<!-- gallery -->
	<div class="banner-bottom" id="gallery">
		<div class="container">
			<h3 class="title-w3l">Gallery</h3>
			<div class="w3ls_gallery_grids">
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g1.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g1.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="images/g2.jpg">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g2.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g3.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g3.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g4.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g4.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g6.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g6.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g5.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g5.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 w3_agile_gallery_grid">
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g7.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g7.jpg'%}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g8.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g8.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
					<div class="agile_gallery_grid">
						<a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="{% static 'images/g9.jpg' %}">
							<div class="agile_gallery_grid1">
								<img src="{% static 'images/g9.jpg' %}" alt=" " class="img-responsive" />
								<div class="w3layouts_gallery_grid1_pos">
									<h3>Snap</h3>
									<p>Donec vitae hendrerit faucibus.</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- //gallery -->
<!-- mail -->
	<div class="agileits_w3layouts_mail_grids" id="mail">	
		<h3 class="title-w3l">Mail us</h3>
		<div class="col-md-6 w3l_mail_right">
			<h3>Contact Info</h3>
			<ul>
				<li><span><i class="fa fa-home" aria-hidden="true"></i>Address<label>:</label></span> 786k Avenue, New York City.</li>
				<li><span><i class="fa fa-phone" aria-hidden="true"></i>Phone<label>:</label></span> (+012) 345 6432</li>
				<li><span><i class="fa fa-fax" aria-hidden="true"></i>Fax<label>:</label></span> +82-21-1218</li>
				<li><span><i class="fa fa-envelope" aria-hidden="true"></i>Email<label>:</label></span> <a href="mailto:info@example.com">info@example.com</a></li>
				<li><span><i class="fa fa-globe" aria-hidden="true"></i>Website<label>:</label></span> <a href="https://w3layouts.com/">http://w3layouts.com</a></li>
			</ul>
		</div>
		<div class="col-md-6 w3l_mail_left">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.84008838347!2d-74.25818880297903!3d40.705831640339994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1465278069158" style="border:0"> </iframe>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //Contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h3 class="title-w3l">Get in Touch</h3>
				<div class="contact-grid1">
					<div class="contact-top1">
						<form action="#" method="post">
							<div class="form-group">
								<label>Name*</label>
								<input type="text" name="Name" placeholder="Name" required="">
							</div>
							<div class="form-group">
								<label>E-mail*</label>
								<input type="email" name="E-mail" placeholder="E-mail" required="">
							</div>
							<div class="form-group">
								<label>Phone Number*</label>
								<input type="text" name="number" placeholder="Phone Number" required="">
							</div>
							<div class="form-group">
								<label>Message*</label>
									<textarea name="Message" placeholder="Message" required=""></textarea>
							</div>
								<input type="submit" value="Send">
						</form>
					</div>
				</div>
		</div>
	</div>


<!-- Footer -->
<div class="footer w3ls">
	<div class="container">
			<div class="ftr-menu">
				 <ul>
					<li><a class="scroll" href="#home">Home </a></li>
					<li><a class="scroll" href="#about">About</a></li>
					<li><a class="scroll" href="#services">Services</a></li>
					<li><a class="scroll" href="#team">Team</a></li>
					<li><a class="scroll" href="#gallery">Gallery</a></li>
					<li><a class="scroll" href="#contact">Contact Us</a></li>
				 </ul>
			</div>
			<div class="w3ls-social-icons-2">
				<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
				<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
				<a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
				<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
				<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
			</div>
			<div class="logo-fo">
				<h2><a href="index.html">Snap</a></h2>
			</div>
			<div class="clearfix"> </div>
	</div>
</div>
<div class="copyrights">
	<p>&copy; 2017 Snap. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>
<!-- //Footer -->

<!-- js-scripts -->			
	
		<!-- js -->
			<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
		<!-- //js -->
	
		<!-- Baneer-js -->
			<script src="{% static 'js/responsiveslides.min.js' %}"></script>
			<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
			</script>
			 <script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider").responsiveSlides({
									auto: true,
									pager:false,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>
			
							 
		<!-- //Baneer-js -->
		<!-- fixed-scroll-nav-js --> 
		<script src="{% static 'js/scrolling-nav.js' %}"></script>  
		<!-- //fixed-scroll-nav-js --> 
			<!-- Stats-Number-Scroller-Animation-JavaScript -->
			<script src="{% static 'js/waypoints.min.js' %}"></script> 
			<script src="{% static 'js/counterup.min.js' %}"></script> 
			<script>
				jQuery(document).ready(function( $ ) {
					$('.counter').counterUp({
						delay: 10,
						time: 1000,
					});
				});
			</script>
		<!-- //Stats-Number-Scroller-Animation-JavaScript -->
	<!-- Progressive-Bars-JavaScript -->
			<script src="{% static 'js/bars.js' %}"></script>
		<!-- //Progressive-Bars-JavaScript -->
		<!-- gallery -->
		<script src="{% static 'js/simpleLightbox.js' %}"></script>
	<script>
		$('.w3_agile_gallery_grid a').simpleLightbox();
	</script>
	<!-- //gallery -->

		<!-- start-smoth-scrolling -->
			<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
		<!-- start-smoth-scrolling -->
		
		<!-- smooth scrolling-bottom-to-top -->
				<script type="text/javascript">
					$(document).ready(function() {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/								
					$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!-- //smooth scrolling-bottom-to-top -->
		<!-- FlexSlider -->
				  <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				  <script type="text/javascript">
					$(function(){
					 
					});
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				  </script>
		<!-- FlexSlider -->
<!-- //js-scripts -->
</body>
</html>