{% extends 'photographerHeader.html' %}
{% load static %} 

{% block content %}


<style>
input[type="text"],input[type="email"],input[type="password"],input[type="submit"],input[type="file"],input[type="date"]{

    width:40%;
    margin-left:30%;

}
/* body{

    background-image:url("{% static 'images/bg.jpg' %}");
    background-repeat:no-repeat;
    background-size: cover;
} */
</style>
</head>
{% if graphers %}

            <h1 style="color:red;margin-top:150px;text-align:center;">Edit Profile</h1>

            <div class="card">
                <form action="#" method="post" class="p-3 shadow" style="margin-top:150px;" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group" style="margin-top:20px">
                    <input type="text" name="name" class="form-control" value="{{graphers.name}}">
                    </div>
                        
                    <div class="form-group" style="margin-top:20px">
                    <input type="text" name="address" class="form-control" value="{{graphers.addr}}">
                    </div>
                    
                    <div class="form-group" style="margin-top:20px">
                    <input type="text" name="district" class="form-control" value="{{graphers.district}}">
                    </div>

                    <div class="form-group" style="margin-top:20px">
                        <input type="text" name="special" class="form-control" value="{{graphers.specialization}}">
                    </div>

                    <div class="form-group" style="margin-top:20px">
                            <input type="text" name="email" class="form-control" value="{{graphers.email}}">
                    </div>


                     <div class="form-group" style="margin-top:20px">
                         <input type="text" name="phone" class="form-control" value="{{graphers.phone}}" pattern="[0-9]{10}" maxlength="10">
                    </div>
                        
                    <div class="form-group" style="margin-top:20px">
                    <input type="file" name="myfile" value="{{graphers.image}}" class="form-control" placeholder="image">
                    </div>  

                    <div class="form-group" style="margin-top:20px">
                        <select name="assoc" class="form-control" style="width: 250px;margin-left:30%;">
                            {% for as in assoc %}
                            <option value="{{as.name}}">{{ as.name }}</option>
                            {% endfor %}
                          </select>
                    </div>      
                 
                        <input type="submit" class="btn btn-success" style="margin-top:20px;margin-left:45%; width:10%;">
                
                </form>
                
                </div>
     



{% endif %}

{% endblock %}


