{% extends 'userHeader.html' %} {% load static %}
<div>
	<head>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<!-- Bootstrap-Core-CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}"
			type="text/css"
			media="all"
		/>
		<!-- Style-CSS -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
		<!-- Font-Awesome-Icons-CSS -->
		<link
			rel="stylesheet"
			href="{% static 'css/flexslider.css' %}"
			type="text/css"
			media="screen"
		/>
		<!-- Flexslider-CSS -->
		<link
			href="{% static 'css/simpleLightbox.css' %}"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- //css files -->
		<!-- online-fonts -->
		<link
			href="{% static '//fonts.googleapis.com/css?family=Philosopher:400,400i,700,700i' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static '//fonts.googleapis.com/css?family=Quicksand:300,400,500,700' %}"
			rel="stylesheet"
		/>
		<!-- //online-fonts -->
		<style>
			input[type='text'],
			input[type='email'],
			input[type='password'],
			input[type='submit'],
			input[type='file'],
			select {
				width: 40%;
				margin-left: 30%;
			}
			body {
				background-image: url("{% static 'images/bg.jpg' %}");
				background-repeat: no-repeat;
				background-size: cover;
			}
		</style>
	</head>
	{% if msg %}
	<script>
		alert('{{msg}}');
	</script>
	{% endif %}

	<div class="card">
		<a href="{% url 'home' %}" style="color: white; margin-left: 45%"
			>Already have an Account</a
		>
		<table
			class="table table-dark table-striped"
			style="width: 60%; margin: auto"
		>
			<tr>
				<th>Customer</th>
				<th>Caption</th>
				<th>Album</th>
			</tr>
			{% for i in datas %}
			<tr>
				<td>{{i.cid.name}}</td>
				<td>{{i.caption}}</td>
				<td><a href="/template?id={{i.id}}">View Album</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
